html {}
body { margin: 0; }
h2 { text-align: center; }
input[type="range"] { display: block; margin: 0 auto; }
.center { text-align: center; }
.inl-blk { display: inline-block; vertical-align: top; }
.width-20 { width: 19%; max-width: 19%; }
.width-80 { width: 79%; max-width: 79%; }
